:root {
  /* پالت 1: کلاسیک گرم */
  --brown-dark: #4b2e05;
  --brown-dark-mat: rgba(75, 46, 5, 0.7);
  --brown-medium: #7b4f24;
  --cream-warm: #c9a66b;
  --beige-light: #e6d4b8;
  --ivory-white: #f6f1e7;
}
@media (min-width: 1024px) {
.bg{
  width: 25%;

}
/* عنوان */
.title{
  font-size: 25px;
}
  .live-box{
    height: 80px;
  }
}
