@font-face {
  font-family: iransansmedium;
  src: url(../media/font/medium.woff);
}
@font-face {
  font-family: iransansnum;
  src: url(../media/font/mediumnum.ttf);
}
:root {
  --green: #055432;
  --green-l: #a9d89b;
  --green-d1: hsl(149, 85%, 13%);
  --green-d2: #001c0d;
  --white: #efffdb;
}
body {
  background-color: var(--green-d1);
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 300ms all linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iransansmedium;
  font-family: iransansnum;
}
/* صفحه ورود */
.body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.log {
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.log-logo {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 300px;
  }
}
.form {
  width: 500px;
  height: 400px;
  background-color: var(--green-d2);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  direction: rtl;
}
.tv {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  color: white;
  margin-bottom: 20px;
  cursor: default;
  .a {
    width: 15%;
    height: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 20px;
    border-left: 1px solid var(--white);
  }
}
.user {
  width: 90%;
  height: 40px;
  background-color: var(--green-d1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  padding: 10px;
  i {
    color: var(--white);
  }
  input {
    width: 90%;
    height: auto;
    padding: 5px;
    color: none;
    background-color: var(--green-d1);
    border: none;
    color: var(--white);
  }
  button {
    width: 100%;
    height: 100%;
    color: var(--green-d2);
    background-color: var(--green-l);
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
}
input:focus {
  outline: none;
}
.boxed {
  width: 90%;
  height: 50px;
  background-color: var(--green-d1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-right: 10px;
  color: var(--white);
  user-select: none;
  p {
    margin: auto;
  }
}
.b {
  width: 25px;
  height: 25px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--green-d2);
  cursor: pointer;
}
/* هدر لپتاپ */
.header {
  width: 90%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: var(--green-l); */
  direction: rtl;
  z-index: 9999999999;
}
.logo {
  width: 15%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: start;
  a {
    width: 100%;
    height: 100%;
  }
  img {
    width: auto;
    height: 100%;
  }
}
.menu {
  width: 30%;
  height: 60%;
  background-color: var(--green-d2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 5px;
  padding-right: 5px;
}
.zmenu {
  width: auto;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: var(--green-l);
  cursor: pointer;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.zmenu:hover {
  color: var(--white);
}
.zmenu1 {
  background-color: var(--green-d1);
  border-radius: 10px;
  color: var(--white);
}
.exit {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.c {
  width: 50px;
  height: 50px;
  background-color: var(--green-d2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    color: var(--green-l);
    font-size: large;
  }
}
a {
  color: none;
  text-decoration: none;
}
.home,
.achive,
.calender {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: scroll;
  padding-top: 100px;
}
/* بنر */
.box {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  scrollbar-width: thin; /* برای فایرفاکس */
  scrollbar-color: var(--green-l) var(--green-d2);
}
.end::-webkit-scrollbar {
  width: 10px;
}

.end::-webkit-scrollbar-track {
  background: var(--green-d2);
  border-radius: 8px;
}

.end::-webkit-scrollbar-thumb {
  background-color: var(--green-l);
  border-radius: 8px;
  border: 2px solid var(--green-d2);
}

/* حالت هاور روی اسکرولبار */
.end::-webkit-scrollbar-thumb:hover {
  background-color: var(--green);
}
.banner {
  width: 60%;
  height: 450px;
  background-image: url(../media/bnr.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; /* جایگاه تصویر */
  border-radius: 20px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.border {
  width: 30%;
  height: 450px;
  background-color: var(--green-d2);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.t {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--green-l);
  font-size: 20px;
  border-bottom: 1px solid var(--white);
}
.end {
  width: 100%;
  height: 400px;

  overflow: scroll;
  overflow-y: auto; /* اسکرول عمودی فعال میشه */
}

.ending {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  direction: rtl;
  padding: 5px;
  img {
    height: 90%;
    aspect-ratio: 1.5/1;
    object-fit: cover; /* عکس هم اندازه دیو میشه، بدون به هم خوردن */
    border-radius: 5px;
    color: var(--white);
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p {
    color: var(--white);
  }
}
.ending:not(:last-child) {
  border-bottom: 1px solid var(--green-l);
}
