@font-face {
  font-family: iransansmedium;
  src: url(../media/font/medium.woff);
}
@font-face {
  font-family: iransansnum;
  src: url(../media/font/mediumnum.ttf);
}
:root {
  --green: #055432;
  --green-l: #a9d89b;
  --green-d1: hsl(149, 85%, 13%);
  --green-d2: #001c0d;
  --white: #efffdb;
}
body {
  background-color: var(--green-d1);
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 300ms all linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iransansmedium;
  font-family: iransansnum;
}
/* صفحه ورود */
.body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.log {
  width: 70%;
  height: auto;  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.log-logo {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 300px;
  }
}
.form{
  width: 500px;
  height: 400px;
  background-color: var(--green-d2);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  direction: rtl;
}
.tv{
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  color: white;
  p{
    width: 15%;
    height: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 20px;
    border-left: 1px solid var(--white);
  }
}