<<<<<<< HEAD
@font-face {
  font-family: iransansmedium;
  src: url(../media/font/medium.woff);
}
@font-face {
  font-family: iransansnum;
  src: url(../media/font/mediumnum.ttf);
}
:root {
  --green: #055432;
  --green-l: #a9d89b;
  --green-d: #053c20;
  --white: #efffdb;
}
body {
  background-color: var(--green-d);
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 300ms all linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iransansmedium;
  font-family: iransansnum;
}
=======
@font-face {
  font-family: iransansmedium;
  src: url(../media/font/font/medium.woff);
}
@font-face {
  font-family: iransansnum;
  src: url(../media/font/font/mediumnum.ttf);
}
:root {
  --green: #055432;
  --green-l: #a9d89b;
  --green-d: #053c20;
  --white: #efffdb;
}
body {
  background-color: green;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 300ms all linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iransansmedium;
  font-family: iransansnum;
}
>>>>>>> 9fea2bac711e8b86bbfb87f62589f6170c31de38
