:root {
  /* پالت 1: کلاسیک گرم */
  --brown-dark: #4b2e05;
  --brown-dark-mat: rgba(75, 46, 5, 0.7);
  --brown-medium: #7b4f24;
  --cream-warm: #c9a66b;
  --beige-light: #e6d4b8;
  --ivory-white: #f6f1e7;
}
@media (max-width: 767px) {
  body {
    background: url(../media/Copilot_20250730_144226.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header {
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  .logo {
    img {
      width: 120px;
    }
  }
  .menu {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--cream-warm);
    justify-content: center;
    gap: 10px;
    user-select: none;
    .z-menu {
      font-size: 18px;
      width: 60px;
    }
  }
  .exit1 {
    width: 35px;
    i {
      font-size: small;
    }
  }
}
