:root {
  --green: #055432;
  --green-l: #a9d89b;
  --green-d1: hsl(149, 85%, 13%);
  --green-d2: #001c0d;
  --white: #efffdb;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .log {
    width: 85%;
  }
  .log-logo {
    img {
      width: 280px;
    }
  }
  .form {
    width: 400px;
  }
  /* هدر تبلت */
  .header {
    width: 90%;
    justify-content: space-between;
  }
  .menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-radius: 0;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  zmenu {
    font-size: 13px;
  }
  .zmenu1 {
    background-color: var(--green-d2);
    border-bottom: 2px solid var(--white);
    border-radius: 0;
  }
  .logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .exit {
    width: 20%;
  }
}
